*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  padding-top: 48px;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0px 16px;
  margin: 0 auto;
}

/**********************************/
/* EMPTY BREAKPOINTS OF REFERENCE */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
