*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0px 16px;
  margin: 0 auto;
}

/************************************************/
/* TYPOGRAPHY SYSTEM */
/************************************************/

p,
.para-w {
  width: 100%;
  max-width: 640px;
}

/* Body text styles */
body,
.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
}

.body-xs {
  font-size: 12px;
  line-height: 200%;
}

.body-sm {
  font-size: 14px;
  line-height: 190%;
}

.body-lg {
  font-size: 18px;
  line-height: 170%;
}

.body-xl {
  font-size: 20px;
  line-height: 160%;
}

/* Header styles */

@media (min-width: 1200px) {
  .h1 {
    font-size: 64px;
    line-height: 110%;
  }

  .h2 {
    font-size: 56px;
    line-height: 120%;
  }

  .h3 {
    font-size: 48px;
    line-height: 130%;
  }

  .h4 {
    font-size: 40px;
    line-height: 130%;
  }

  .h5 {
    font-size: 32px;
    line-height: 130%;
  }

  .h6 {
    font-size: 24px;
    line-height: 140%;
  }
}

/************************************************/
/* EMPTY BREAKPOINTS OF REFERENCE */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
